:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #2c2c2c;
    --text-color-dark: #ffffff;
}

body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

#lightDarkButton {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background: white;
    border: black solid 1px;
    outline: none;
    color: inherit;
}


.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.separator {
    height: 33px;
}

.mini-separator {
    height: 15px;
}

.paralBtn {
    padding: 10px 20px;
    width: 150px;
    margin: 0 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.left-btn {
    text-align: right;
}

.right-btn {
    text-align: left;
}

.paralBtn.selected {
    background-color: #28a745;
}

/*@media (max-width: 600px) {
    .btn {
        padding: 10px 15px;
    }
}*/
